{% extends 'base.html' %}
<!DOCTYPE HTML>
<HTML>
  <head>
    <title>{% block title %}Cat Clicker{% endblock %}</title>
  </head>

  <body>
  {% block content %}
  {{ loaded_game|json_script:"loaded_game"}}
  <script>
    // images and other static variables MUST be defined in template before they can be used in JS due to how Django works
    var static_tag = "{% load static %}";
    let powerup_images = ["{% static 'images/treat.jfif' %}", "{% static 'images/catnip.jpg' %}", "{% static 'images/tuna.jpg' %}"];
    let upgrade_images = ["{% static 'images/catcrown.jpg' %}", "{% static 'images/catcrown2.jpg' %}", "{% static 'images/catcrown3.png' %}"];
  </script>
    {% if user.is_authenticated %}
      <header id="pageHeader">
        <span id="headerTitle">Cat Clicker</span>
        <section id="welcome">Welcome back, {{ user.username }}!</section>
      </header>

      <article id="gameArea">
          <center>
              <div class="scoreContainer unselectable">
                  <span id="score" name="scoreField">0</span> clicks<br />
                  <span id="scorepersecond"> 0</span> clicks per second
              </div>
              <br />
              <div class="clickerContainer unselectable">
                  {% load static %}
                  <img src="{% static display_badge %}" id="clicker" height="256px" width="256px" >
              </div>
          </center>
      </article>

      <nav id="leaderboard">
        <span class="sectionTitles">Leaderboard</span>
        {% if top_scores %}
          <table id="leaderboardTable">
            <tr><th>Username</th><th>Score</th></tr>
            {% for score in top_scores %}
            <tr><td class="scoreUser">{{score.user}}</td><td class="scoreClicks">{{ score.season_clicks }}</td></tr>
            {% endfor %}
          </table>
        {% else %}
          <p>There are no high scores yet!</p>
        {% endif %}
      </nav>

      <nav id="chat">
        <span class="sectionTitles">Latest Msgs</span>
        {% if latest_chat_list %}
          <ul>
          {% for comment in latest_chat_list %}
              <li><b>{{comment.user}} @ {{comment.publish_datetime|date:"g:iA"|lower}}:</b>  {{ comment.content }}</li>
          {% endfor %}
          </ul>
        {% else %}
            <p>No recent messages.</p>
        {% endif %}
        <a class="prettyButton" id="chatButton" href="{% url 'chat' %}">Go To Chat</a>
      </nav>
      
      <div id="bonuses">
          <span class="sectionTitles">Upgrades</span>
          <div id="upgradeContainer">
            <table id="upgradeTable">
            <tr>
              <td id="upg1"><img src="{% static 'images/question.png' %}" title="Purchase 1 Treat to&#10; unlock this upgrade" ></td>
              <td id="upg2"><img src="{% static 'images/question.png' %}" title="Click 50x to unlock &#10; this upgrade" ></td>
              <td id="upg3"><img src="{% static 'images/question.png' %}" title="Purchase 3 Catnip  &#10;to unlock this upgrade" ></td>
            </tr>  
            </table>
          </div>
      </div>
      
      <div id="powerups">
          <span class="sectionTitles">Powerups</span>
          <div id="shopContainer"></div>
      </div>
      
      <div id="accountButtons">
        <center>
        <table id="saveTable">
          <tr>
          <td>
          <form name="saveForm" method="post" action="{% url 'index' %}">
            {% csrf_token %}
            <input type="hidden" name="gameSaveField" id="gameSaveId" value="0">
            <input type="submit" class="prettyButton" name="submit" value="Save Game" onclick="saveGame();">
          </form>
          </td>
          <td>
          <a class="prettyButton" href="{% url 'logout' %}">Log Out</a>
          </td>
        </tr>
        </table>
        </center>
      </div>

      <footer id="pageFooter">
          <span>Cat Clicker 2021</span>
      </footer>
      {% load static %}
      <script src="{% static 'main.js' %}"></script>
    {% else %}
      <meta http-equiv="refresh" content="0; URL={% url 'login' %}" />
    {% endif %}
  {% endblock %}
  </body>
</HTML>